<% @jobs.each do |job|%>
<div class="cards">
  <h1><%= job.company.name %></h1>
  <p class="titles"><%= job.title %></p>
  <p><%= job.description %></p>
  <a><%= job.level_of_interest %></a>
  <p><button><%= job.city %></button></p>
</div>
<% end %>
