<header>
  <h1>All Companies</h1><br>
  <h2><%= link_to "New Company", new_company_path %></h2><br>
</header>

<div class="column">
<% @companies.each do |company| %>
<div class="card">
  <h1><%= company.name %></h1>
  <p class="title">  <%= link_to "Edit", edit_company_path(company) %></p>
  <p><%= link_to "Delete", company_path(company), method: "delete" %></p>
  <p><button><%= link_to "Show", company_path(company) %></button></p>
</div><br>
<% end %>
<div/>
