All Jobs for <strong><%= @company.name %></strong>

<% @company.jobs.each do |job| %>
  <ul>
     <li> <%= link_to job.title, company_job_path(job.company, job) %></li>
  </ul>

<% end %>

<%= link_to "New Job", new_company_job_path(@company) %>

<%= render partial: "contact_form" %>

<%= render partial: "contact", collection: @company.contacts.reverse %>
