<header>
  <h1>All Jobs for <strong><%= @company.name %></strong></h1>
  <h2><%= link_to "New Job", new_company_job_path(@company) %></h2>
</header>

<% @company.jobs.each do |job| %>
  <div class="card">
    <h1><%= job.title %></h1>
    <p><%= job.description %></p>
    <p><button><%=link_to "Show", company_job_path(job.company, job)%></button></p>
  </div>
<% end %>
  <header>
    <h1>Contacts</h1><br>
    <h1><%= render partial: "contact_form" %><br></h1>
  </header>
  <%= render partial: "contact", collection: @company.contacts.reverse %>
